<div class="row padding-bottom-10">
	<div class="col-md-12">
		<span class="v title-3">FILTERS</span>
	</div>
</div>
<!--PORTFOLIO-->
<div class="row padding-bottom-20" ng-show="page==='management' || page==='customer-service' || page==='development'">
	<div class="col-md-12">
		<get-object qvid="'PrcK'" height="105" interaction="true" header="false"></get-object>
	</div>
</div>
<!--SYSTEM TYPE-->
<div class="row padding-bottom-30" ng-show="page==='management' || page==='customer-service'">
	<div class="col-md-12">
		<get-object qvid="'nGrCCR'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!--LIFECYCLE-->
<div class="row padding-bottom-30" ng-show="page==='management' || page==='customer-service'">
	<div class="col-md-12">
		<get-object qvid="'TtJKmJn'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!--SYSTEM-->
<div class="row padding-bottom-40" ng-show="page==='management' || page==='development'">
	<div class="col-md-12">
		<get-object qvid="'aPFNwxV'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!-- CASE STATUS H50-->
<div class="row padding-bottom-30" ng-show="page==='customer-service'">
	<div class="col-md-12">
		<get-object qvid="'JPQQTk'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!--PROJECT STATUS h50-->
<div class="row padding-bottom-20" ng-show="page==='development'">
	<div class="col-md-12">
		<get-object qvid="'kFckpn'" height="105" interaction="true" header="false"></get-object>
	</div>
</div>
<!--PROJECT NAME-->
<div class="row padding-bottom-30" ng-show="page==='development'">
	<div class="col-md-12">
		<get-object qvid="'nzxUD'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!--GRADE-->
<div class="row padding-bottom-30" ng-show="page==='hr'">
	<div class="col-md-12">
		<get-object qvid="'bKpawR'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>
<!--EMPLOYEES TYPE-->
<div class="row padding-bottom-25" ng-show="page==='hr'">
	<div class="col-md-12">
		<get-object qvid="'SYVUKw'" height="105" interaction="true" header="false"></get-object>
	</div>
</div>
<!--ROLE-->
<div class="row" ng-show="page==='hr'">
	<div class="col-md-12">
		<get-object qvid="'kRJUp'" height="130" interaction="true" header="false"></get-object>
	</div>
</div>